<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="net45" />
  <package id="securedsigning.client" version="1.4.21-alpha1" targetFramework="net45" />
  <package id="ServiceStack.Client.Signed" version="4.5.14" targetFramework="net45" />
  <package id="ServiceStack.Interfaces" version="4.5.14" targetFramework="net45" />
  <package id="ServiceStack.Text.Signed" version="4.5.14" targetFramework="net45" />
</packages>